<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <style>
      .content {
        display: none;
      }
    </style>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <script src="/libs/showdown.min.js"></script>
    <main>
      <% fileData.forEach(function(file, index) { %>

      <script>
        var converter = new showdown.Converter({ metadata: true });
        var html = converter.makeHtml(`<%= file.content %>`);
        var metadata = converter.getMetadata();

        let tags = metadata.tags.split(",");
        let date = metadata.data;
        let description = metadata.description;
        function toggleContent(elementId) {
          var content = document.getElementById(elementId);
          if (content.style.display === "none") {
            content.style.display = "block";
          } else {
            content.style.display = "none";
          }
        }
      </script>
      <div class="blog-post">
        <script>
          tags.forEach((tag) =>
            document.write(
              `<span class="blog-post__tag user-s__none">${tag}</span>`
            )
          );
        </script>
        <h2 onclick="toggleContent('content<%= index %>')" class="title">
          <a href="/blog/article/<%= file.name %>">
            <script>
              document.write(metadata.title);
            </script>
          </a>
        </h2>
        <script>
          document.write(description + "<br><br>");
          document.write(
            '<img src="/img/icons/calendar.svg" alt="" class="icon user-s__none">' +
              date
          );
        </script>
      </div>
      <% }); %>
    </main>
  </body>
</html>
